.component {
  background-color: #3ea9f5;
  color: white;
  display: flex;
  align-items: stretch;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 5px;
}

.inputBlock {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 auto;
}

.input {
  display: flex;
  min-width: 40%;
  margin: 5px 0;
  padding-right: 25px;
  border-radius: 3px;
  outline: none;
  padding: 25px;
  text-align: left;
  border: 0;
}

.error {
  margin: 5px 0;
  border: 1px solid red;
  padding: 5px;
  color: white;
  text-align: center;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: white;
}

.checkbox:checked + label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='3ea9f5' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.label {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: stretch;
  flex: 1 1 auto;
  margin: 5px 0;
  padding: 20px 0;
  border: 1px solid white;
}

.radio {
  margin: 0 5px;
}
.submit {
  margin: 5px 0;
  border-radius: 3px;
  background-color: #28d2d0;
  flex: 1 1 auto;
  color: white;
  outline: none;
  padding: 20px 30px;
  text-align: center;
  border: 0;
}

.facebook {
  margin: 5px 0;
  border-radius: 3px;
  flex: 1 1 auto;
  background-color: #2d4373;
  color: white;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  border: 0;
}

.facebook :before {
  content: '\f09a';
  color: white;
}

.google {
  margin: 5px 0;
  border-radius: 3px;
  flex: 1 1 auto;
  background-color: #dd4b39;
  color: white;
  outline: none;
  padding: 10px 30px;
  text-align: center;
  border: 0;
}

.other {
  margin: 5px 0;
  text-align: center;
}

.link {
  color: white;
}