.component {
    background-color: #3ea9f5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .header {
    text-align: center;
  }